header {
    background-color: #22292F;
    padding-top: 20px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.site-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.menu-button {
    color: #ffffff;
    font-size: 2.4em;
    line-height: 50px;
}

.logo-img {
    height: 50px;
    margin-left: 20px;
}

.equipmentDescription {
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

nav {
    background-color: #3D4852;
    position: absolute;
    top: 77px;
    width: 100%;
}

nav ul {
    display: none;
    list-style-type: none;
}

.hidenav {
    display: none;
}

.shownav {
    display: block;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    color: #DAE1E7;
    display: inline-block;
    letter-spacing: 0.05em;
    padding: 5px;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus, .submitButton:hover, .submitButton:focus {
    color: #ce2b1f;
}

.container {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.bar1, .bar2, .bar3 {
    background-color: rgb(247, 242, 242);
    height: 5px;
    margin: 6px 0;
    width: 35px;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: transform 230ms ease-out;
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    transition: transform 230ms ease-out;
}

/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(-45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    transition: transform 230ms ease-out;
}

.buttoninTable {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    min-width: 50%;
    overflow-x: scroll;
    table-layout: auto;
}

table tr {
    display: flex;
    justify-content: space-between;
}

.buttonTable:visited, .buttonTable .buttonTable:active {
    color: #000;
}

html, button, select, textarea {
    color: #222;
    font-family: 'Poppins', sans-serif;
}

.myButton {
    background-color: grey;
    border: none;
    box-shadow: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    padding: 3px 6px;
    text-decoration: none;
    text-shadow: none;
}

.myButton:hover, .myButton:focus {
    background-color: #e9e9e9;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.table_wrapper {
    border-bottom: .5rem solid grey;
    border-top: .5rem solid grey;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.sidebarContainer {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
}

.sidebar {
    border-left: .2rem solid grey;
    padding-left: 1rem;
}

h4 {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
}

.listcart {
    border-spacing: 2px;
}

.listcart tr {
    display: flex;
}

.listcart tr td button {
    display: inline-block;
    font-weight: bold;
    height: 100%;
}

.imageInText {
    height: auto;
    width: 80%;
}

.genericText {
    font-size: 14px;
    padding: 8px;
}

.containerSearch{
    display: flex;
    justify-content: space-around;
}

h1, h2 {
    padding: 8px;
}

input[type=text], input[type=password], input[type=email], input[type=number], select, textarea {
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    resize: vertical;
    width: 100%;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, select:focus, textarea:focus{
    background-color: rgb(252, 72, 72);
}
label {
    display: inline-block;
    font-size: 14px;
    padding: 12px 12px 12px 0;
}

.submitButton {
    background-color: #3D4852;
    border: none;
    border-radius: 4px;
    color: #DAE1E7;
    cursor: pointer;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    padding: 12px 20px;
}

.submitButton:active {
    position: relative;
    top: 2px;
}

.containerAbout {
    background-clip: border-box;
    background-color: #f2f2f2;
    border: 2px solid;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 20px;
}

.col-25 {
    float: left;
    margin-top: 6px;
    width: 25%;
}

.col-75 {
    display: flex;
    margin-top: 6px;
    width: 100%;
}

/* Clear floats after the columns */

.row:after {
    clear: both;
    content: "";
    display: table;
    padding-bottom: 10px;
}

.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #22292F;
    border: 1px solid #888;
    margin: auto;
    margin-top: 20%;
  }
  .modalTextStyle{
      color: #DAE1E7;
      display: flex;
      justify-content: space-around;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #ce2b1f;
    cursor: pointer;
    text-decoration: none;
  }

@media screen and (min-width: 735px) {
    .container {
        display: none;
    }
    .navigation {
        padding-bottom: 110px;
    }
    nav li {
        color: white;
        float: left;
        text-align: center;
        text-decoration: none;
        width: 25%;
        /* Four links of equal widths */
    }
    .sidebar {
        top: 136px;
    }
    thead {
        display: inline-table;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav a {
        opacity: 1;
    }
    .equipmentDescription {
        margin-top: 10px;
        text-align: center;
    }
    .imageInText {
        float: left;
        height: auto;
        max-width: 60%;
    }
    .logo-img {
        height: 70px;
        margin-left: 20px;
    }
    nav {
        top: 120px;
    }
    header {
        height: 100px;
    }
    .col-25, .col-75, .submitButton {
        margin-top: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    .navigation {
        padding-bottom: 70px;
    }
    nav {
        top: 120px;
    }
    header {
        height: 120px;
    }
    .col-25, .col-75, .submitButton {
        margin-top: 0;
        width: 100%;
    }
}